
.register-container {
 position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: auto;
  align-items: auto;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}
.register-box {
  backdrop-filter: blur(10px);
  background-image: url("../assets/boyfriend (1).jpeg");
  padding: 30px;
  height: 450px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.register-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#140d0d
}

.form-group {
  text-align: left;
  margin-right: 20px;
  margin-bottom: 30px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #140d0d;
  border-radius: 5px;
}

.register-button {
  width: 100%;
  position: relative;
  top: 90px;
  padding: 5px;
  background: #79f0b6;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}



.login-link {
  color: #1dbf73;
  font-weight: bold;
  cursor: pointer;
}
.signup-block{
  position: relative;
  top: 30px;
  
}